<div class="sectionOne">
    <div class="container-text">
        <div class="text">
            <h2></h2>
            <div class="description-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum dolorem labore tempore doloremque, delectus voluptatem ea optio? Enim quaerat voluptates reiciendis, dolorem, sed facilis soluta aspernatur dolore provident duci</div>
            <a class="btn-text" href="" target="blank">+ d'infos</a>
        </div>
    </div>
</div>
<app-slider>
    
</app-slider>
